*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 63%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(255, 0, 0, 0.24), rgba(255, 0, 0, 0.24), rgba(0, 0, 0, 0.3)) fixed,
                url("images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    backdrop-filter: blur(5px);
}

#content {
    width: 100%;
    height: 100%;
}
/*                          */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


/*      NAVIGATION BAR      */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 15vh;
    background: linear-gradient(rgba(15, 15, 15), hsl(330, 100%, 1%));
    box-shadow: 0 0 0 1px hsla(0, 0%, 71%, 0.233);
    position: relative;
    overflow: hidden;
}

.logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(231, 231, 231);
}

.logo-content .logo-icon {
    margin-right: 10px;
    width: 50px;
    height: 50px;
    background: url("images/logo-fox.png") 50% 50% no-repeat;
    background-size: cover;
    filter: invert(100%) sepia(0%) saturate(4129%) hue-rotate(215deg) brightness(110%) contrast(81%);
    /* color of the fox: #e7e7e7 */
}

.logo-content h4 {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px;
    letter-spacing: 3px;
    font-weight: 100;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: fit-content;
    width: fit-content;
    padding: 8px 8px;
    /* background-color: rgb(0, 0, 0); */
}
.nav-links li {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    border: solid 1px hsla(0, 0%, 71%, 0.233);
    background-color: rgb(17, 17, 17);
    padding: 5px 18px;
}
.nav-links a {
    font-size: 12PX;
    font-family: 'Times New Roman', Times, serif ;
    color: rgb(235, 235, 235);
    text-decoration: none;
    letter-spacing: 4px;
    margin-right: -4px;
}

/*      MAIN       */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*      HOME        */
.home-content {
    width: 100%;
}

.home-headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    padding: 15px;
    background-color: rgba(27, 0, 0, 0.753);
}

.home-headline h1{
    font-family: 'Girassol', cursive;
    text-align: center;
    font-size: 40px;
    color: hsl(0, 0%, 87%);
    white-space: pre-line;
    letter-spacing: 5px;
    text-shadow: 0 0 10px rgb(122, 0, 0);
}
.home-headline p{
    margin: 5px;
    font-family: 'Girassol', cursive;
    font-size: 25px;
    color: rgb(224, 224, 224);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.menu-btn {
    font-family: monospace;
    font-weight: 800;
    margin-top: 5px;
    color: rgb(56, 0, 0);
    background-color: rgb(235, 235, 235);
    padding: 5px;
    border-radius: 8px;
    outline: none;
    border: none;
}

/* HOME IMAGES */
.home-images-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quality-steak {
    width: 200px;
    height: 200px;
    background: url("images/home-images/quality-steak.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.specialty {
    width: 200px;
    height: 200px;
    background: url("images/home-images/specialty.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.bar-home {
    width: 200px;
    height: 200px;
    background: url("images/home-images/bar.jpg") 50% 50% no-repeat;
    background-size: cover;
}



/*      MENU        */

/* MENU IMAGES */
.menu-images-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.steak1 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak1.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak2 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak2.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak3 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak3.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak4 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak4.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak5 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak5.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak6 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak6.jpg") 50% 50% no-repeat;
    background-size: cover;
}


/*      BAR         */

/*      CONTACT     */