*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 63%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(255, 0, 0, 0.24), rgba(255, 0, 0, 0.24), rgba(0, 0, 0, 0.3)) fixed,
                url("images/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
}

#content {
    width: 100%;
    height: 100%;
}
/*                          */
[data-tab-content] {
    display: none;
}

.active[data-tab-content] {
    display: block;
}


/*      NAVIGATION BAR      */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 10vh;
    background-color: rgb(22, 22, 22);
}

.logo {
    color: white;
}
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
}

/*      MAIN       */
main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*      HOME        */
.home-content {
    width: 100%;
}

.home-headline {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    background-color: rgba(27, 0, 0, 0.753);
}

.home-headline h1{
    font-size: 40px;
    color: white;
    white-space: pre-line;
}
.home-headline p{
    font-size: 30px;
    color: rgb(179, 173, 173);
}

/* HOME IMAGES */
.home-images-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.quality-steak {
    width: 200px;
    height: 200px;
    background: url("images/home-images/quality-steak.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.specialty {
    width: 200px;
    height: 200px;
    background: url("images/home-images/specialty.jpg") 50% 50% no-repeat;
    background-size: cover;
}

.bar-home {
    width: 200px;
    height: 200px;
    background: url("images/home-images/bar.jpg") 50% 50% no-repeat;
    background-size: cover;
}



/*      MENU        */

/* MENU IMAGES */
.menu-images-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.steak1 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak1.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak2 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak2.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak3 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak3.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak4 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak4.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak5 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak5.jpg") 50% 50% no-repeat;
    background-size: cover;
}
.steak6 {
    width: 200px;
    height: 200px;
    background: url("images/menu-images/steak6.jpg") 50% 50% no-repeat;
    background-size: cover;
}


/*      BAR         */

/*      CONTACT     */